@import './fonts/playfair-display/stylesheet.css';

body {
    background: #ffffff url('../images/body_main_bg.jpg') no-repeat center top;
    font-family: 'Georgia', 'Times New Roman', serif;
    width: 100%;
    padding: 0;
    margin: 0;
}

body.subpage {
    background: #ffffff url('../images/body_subpage_bg.jpg') no-repeat center top;
}

body.contact {
    background: #ffffff url('../images/body_contact_bg.jpg') no-repeat center top;
}

body.login {
    background: #ffffff url('../images/body_bg.png') no-repeat center top;
}

a {
    text-decoration: none;
}

.clear {
    clear: both;
}

#content-wrapper {
    position: relative;
    overflow: hidden;
}

#menu-mobile {
    background-color: #be4c54;
    display: none;
    position: absolute;
    top: 0;
    right: -420px;
    z-index: 2;
    padding: 80px 80px 0 80px;
    width: 260px;
}

#menu-mobile .close {
    background: transparent url('../images/menu_close.png') no-repeat left top;
    cursor: pointer;
    position: absolute;
    right: 80px;
    top: 26px;
    height: 26px;
    width: 26px;
}

#menu-mobile .close:hover {
    background-position: left bottom;
}

#menu-mobile ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu-mobile ul li {
    padding: 6px 0;
    text-align: right;
}

#menu-mobile ul li:last-child {
    padding: 6px 0 0 0;
}

#menu-mobile ul li a {
    font-size: 24px;
    line-height: 36px;
    color: #ffa7ad;
}

#menu-mobile ul li a:hover,
#menu-mobile ul li.current a {
    font-weight: bold;
    color: #ffffff;
}

#menu-mobile .other {
    text-align: right;
    font-size: 24px;
    line-height: 36px;
    color: #ffa7ad;
}

#menu-mobile .other a {
    color: #ffa7ad;
}

#menu-mobile .other .facebook {
    padding-bottom: 6px;
}

#menu-mobile .other .facebook a:hover {
    font-weight: bold;
    color: #ffffff;
}

#menu-mobile .other .youtube {
    padding-top: 6px;
}

#menu-mobile .other .youtube a:hover {
    font-weight: bold;
    color: #ffffff;
}

#languages-mobile {
    padding-top: 12px;
    text-align: right;
    height: 21px;
}

#languages-mobile a {
    background-position: bottom left;
    margin-left: 7px;
    display: inline-block;
    height: 21px;
    width: 36px;
}

#languages-mobile a.active {
    background-position: top left;
}

#languages-mobile a.pl {
    background-image: url('../images/locale_pl_mobile.png');
}

#languages-mobile a.en {
    background-image: url('../images/locale_en_mobile.png');
}

#content {
    position: relative;
    margin: 0 auto;
    width: 980px;
    min-height: 300px;
}

#menu-container {
    padding-top: 26px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

#menu-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu-container ul li {
    padding: 4px 0;
    text-align: right;
}

#menu-container ul li:last-child {
    padding: 4px 0 0 0;
}

#menu-container ul li a {
    font-size: 14px;
    line-height: 18px;
    color: #0f0d0f;
}

#menu-container ul li a:hover,
#menu-container ul li.current a {
    font-weight: bold;
    color: #c35d64;
}

#menu-container .other {
    text-align: right;
    font-size: 14px;
    line-height: 18px;
}

#menu-container .other .separator-top {
    color: #0f0d0f;
}

#menu-container .other .facebook {
    padding-bottom: 4px;
}

#menu-container .other .facebook a {
    color: #3b5998;
}

#menu-container .other .facebook a:hover {
    font-weight: bold;
}

#menu-container .other .youtube {
    padding-top: 4px;
}

#menu-container .other .youtube a {
    color: #bb0000;
}

#menu-container .other .youtube a:hover {
    font-weight: bold;
}

#menu-container .other .separator-bottom {
    color: #c35d64;
}

#languages-login {
    padding-top: 12px;
    text-align: right;
    height: 14px;
}

#languages {
    padding-top: 2px;
    text-align: right;
    height: 14px;
}

#languages-login a,
#languages a {
    background-position: bottom left;
    border: 1px solid #ffffff;
    margin-left: 5px;
    display: inline-block;
    height: 12px;
    width: 22px;
}

#languages-login a.active,
#languages a.active {
    background-position: top left;
    border: 1px solid #dd9791;
}

#languages-login a.pl,
#languages a.pl {
    background-image: url('../images/locale_pl.jpg');
}

#languages-login a.en,
#languages a.en {
    background-image: url('../images/locale_en.jpg');
}

#menu-mobile-show {
    background: #ffffff url('../images/hamburger.png') no-repeat left top;
    display: none;
    position: absolute;
    top: 26px;
    right: 20px;
    width: 36px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

#menu-mobile-show:hover {
    background-position: left bottom;
}

.login-top {
    margin: 101px 360px 27px 360px;
    position: relative;
    height: 101px;
}

.login-top .firstname {
    position: absolute;
    top: 0;
    left: 10px;
    font-family: 'playfair_displayitalic';
    font-size: 64px;
    line-height: 64px;
    color: #5a5552;
}

.login-top .lastname {
    position: absolute;
    top: 39px;
    left: 69px;
    font-family: 'playfair_displayitalic';
    font-size: 62px;
    line-height: 62px;
    color: #Be4c54;
}

#login-form {
    padding-bottom: 50px;
    margin: 0 auto;
    width: 330px;
}

#login-form .error {
    text-align: center;
    font-size: 14px;
    color: #Be4c54;
}

#login-form .form-group {
    padding-bottom: 7px;
}

#login-form .form-group label {
    text-align: center;
    display: block;
    font-size: 16px;
    line-height: 40px;
    height: 40px;
    color: #5a5552;
}

#login-form .form-group input {
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    border-radius: 21px;
    border: 1px solid #f4f0e9;
    outline: none;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    padding: 12px 23px;
    color: #5a5552;
    width: 282px;
}

#login-form .form-buttons {
    padding-top: 19px;
}

#login-form .form-buttons #submit {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff4754+0,e0323f+100 */
    background: #ff4754; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNDc1NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMDMyM2YiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ff4754 0%, #e0323f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff4754), color-stop(100%, #e0323f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ff4754 0%, #e0323f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ff4754 0%, #e0323f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ff4754 0%, #e0323f 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ff4754 0%, #e0323f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4754', endColorstr='#e0323f', GradientType=0); /* IE6-8 */
    display: block;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    border-radius: 21px;
    border: 1px solid #ce2834;
    margin: 0 auto;
    width: 152px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    text-shadow: 0px 1px 0px rgba(202, 42, 53, 1);
    font-size: 18px;
    color: #ffffff;
}

#login-form .form-buttons #submit:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0323f+0,ff4754+100 */
    background: #e0323f; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwMzIzZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjQ3NTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #e0323f 0%, #ff4754 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e0323f), color-stop(100%, #ff4754)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e0323f 0%, #ff4754 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e0323f 0%, #ff4754 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e0323f 0%, #ff4754 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e0323f 0%, #ff4754 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0323f', endColorstr='#ff4754', GradientType=0); /* IE6-8 */
}

.main-content {
    position: relative;
    padding: 285px 0 50px 0;
    min-height: 525px;
}

.main-content .firstname {
    position: absolute;
    top: 48px;
    left: 285px;
    font-family: 'playfair_displayitalic';
    font-size: 110px;
    line-height: 120px;
    color: #5a5552;
}

.main-content .lastname {
    position: absolute;
    top: 115px;
    left: 385px;
    font-family: 'playfair_displayitalic';
    font-size: 108px;
    line-height: 120px;
    color: #be4c54;
}

.main-content .info {
    position: absolute;
    top: 225px;
    font-family: 'playfair_displayitalic';
    font-size: 26px;
    line-height: 30px;
    color: #605343;
    text-align: right;
}

.main-content .info .producer {
    display: inline-block;
    min-width: 60px;
}

.main-content .audio-player-container {
    padding-left: 445px;
}

.main-content .audio-player-container .header {
    font-size: 14px;
    line-height: 22px;
    color: #93846e;
}

.main-content .audio-player-container .current {
    font-family: 'playfair_displayregular';
    font-size: 30px;
    line-height: 32px;
    min-height: 32px;
    color: #5a5552;
}

.main-content .audio-player-container .player {
    height: 86px;
}

.main-content .audio-player-container .player .control {
    padding: 35px 0 0 0;
    width: 50px;
    float: left;
}

.main-content .audio-player-container .player .control .play {
    background: transparent url('../images/play.png') no-repeat left top;
    width: 18px;
    height: 18px;
    margin-right: 4px;
    float: left;
    cursor: pointer;
}

.main-content .audio-player-container .player .control .play:hover {
    background-position: left bottom;
}

.main-content .audio-player-container .player .control .play.active {
    background: transparent url('../images/pause.png') no-repeat left top;
}

.main-content .audio-player-container .player .control .play.active:hover {
    background-position: left bottom;
}

.main-content .audio-player-container .player .control .stop {
    background: transparent url('../images/stop.png') no-repeat left top;
    width: 18px;
    height: 18px;
    margin-right: 4px;
    float: left;
    cursor: pointer;
}

.main-content .audio-player-container .player .control .stop:hover {
    background-position: left bottom;
}

.main-content .audio-player-container .player .progress-container {
    padding: 40px 9px 0 9px;
    width: 378px;
    float: left;
}

.main-content .audio-player-container .player .progress-container .progress {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #f4f0e9;
    position: relative;
    height: 7px;
}

.main-content .audio-player-container .player .progress-container .progress .bar {
    position: absolute;
    top: 0;
    left: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0333f+0,e7636d+100 */
    background: #e0333f; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwMzMzZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNzYzNmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, #e0333f 0%, #e7636d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #e0333f), color-stop(100%, #e7636d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #e0333f 0%, #e7636d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #e0333f 0%, #e7636d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #e0333f 0%, #e7636d 100%); /* IE10+ */
    background: linear-gradient(to right, #e0333f 0%, #e7636d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0333f', endColorstr='#e7636d', GradientType=1); /* IE6-8 */
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 7px;
    width: 0;
}

.main-content .audio-player-container .player .progress-container .progress .handle {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 28px;
    width: 1px;
}

.main-content .audio-player-container .player .progress-container .progress .handle .handle-icon {
    background: transparent url('../images/player_handle_icon.png') no-repeat left top;
    position: absolute;
    top: 0;
    left: -9px;
    height: 28px;
    width: 19px;
    cursor: pointer;
}

.main-content .audio-player-container .player .progress-container .progress .from {
    position: absolute;
    top: 7px;
    left: 0;
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    color: #5a5552;
}

.main-content .audio-player-container .player .progress-container .progress .to {
    position: absolute;
    top: 7px;
    right: 0;
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    color: #5a5552;
}

.main-content .audio-player-container .send-form-container {
}

.main-content .audio-player-container .send-form-container .send-form-top {
    padding-bottom: 9px;
}

.main-content .audio-player-container .send-form-container .send-form-top .checkbox {
    font-size: 0;
}

.main-content .audio-player-container .send-form-container .send-form-top .checkbox label {
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding-left: 28px;
    line-height: 23px;
    font-size: 13px;
    color: #5a5552;
}

.main-content .audio-player-container .send-form-container .send-form-top .checkbox label:before {
    content: '';
    background: transparent url('../images/checkbox_bg.png') no-repeat left top;
    position: absolute;
    left: 0;
    top: 1px;
    width: 20px;
    height: 17px;
}

.main-content .audio-player-container .send-form-container .send-form-top .checkbox input {
    display: none;
}

.main-content .audio-player-container .send-form-container .send-form-top .checkbox input:checked + label:before {
    background-position: left bottom;
}

.main-content .audio-player-container .send-form-container .send-form-bottom {
    padding: 0 0 0 28px;
}

.main-content .audio-player-container .send-form-container .send-form-bottom .form-field input {
    font-family: 'Georgia', 'Times New Roman', serif;
    border: 1px solid #e1e1e1;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    display: inline-block;
    vertical-align: top;
    padding: 9px 23px;
    line-height: 18px;
    font-size: 13px;
    color: #5a5552;
    width: 180px;
}

.main-content .audio-player-container .send-form-container .send-form-bottom .form-field input:focus {
    -moz-appearance:none;
    box-shadow:none;
    outline:none;
}

.main-content .audio-player-container .send-form-container .send-form-bottom .form-field button {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff4754+0,e23240+100 */
    background: #ff4754; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff4754 0%, #e23240 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ff4754 0%,#e23240 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ff4754 0%,#e23240 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4754', endColorstr='#e23240',GradientType=0 ); /* IE6-9 */
    text-shadow: 0 1px 0 rgba(203, 26, 38, 1);
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    border: 1px solid #ce2834;
    display: inline-block;
    vertical-align: top;
    margin-left: 12px;
    font-weight: 700;
    padding: 0 23px;
    cursor: pointer;
    font-size: 14px;
    color: #f4f0e9;
    height: 38px;
}

.main-content .audio-player-container .send-form-container .send-form-bottom .form-field img {
    display: inline-block;
    vertical-align: top;
    margin-left: 12px;
}

.main-content .audio-player-container .send-form-container .send-form-bottom .form-error {
    padding: 8px 0;
    line-height: 16px;
    font-size: 12px;
    color: #be4c54;
    height: 16px;
    width: 100%;
}

.main-content .audio-player-container .playlist {
    font-size: 14px;
    line-height: 24px;
    color: #93846e;
}

.main-content .audio-player-container .songs .song {
    position: relative;
    font-size: 16px;
    line-height: 24px;
    color: #5a5552;
    float: left;
}

.main-content .audio-player-container .songs .song .icon {
    background: transparent url('../images/song-active.png') no-repeat left top;
    display: none;
    position: absolute;
    width: 10px;
    height: 9px;
    top: 9px;
}

.main-content .audio-player-container .songs .song.playing .icon {
    display: block;
}

.main-content .audio-player-container .songs .song span {
    cursor: pointer;
}

.main-content .audio-player-container .songs .song.selected span,
.main-content .audio-player-container .songs .song span:hover {
    text-decoration: underline;
    color: #be4c54;
}

.main-content .audio-player-container .logos {
    padding-top: 20px;
}

.main-content .audio-player-container .logos img {
    display: inline-block;
    margin-right: 16px;
    height: 50px;
}

.page-content {
    padding: 0 0 60px 400px;
}

.page-content h1 {
    font-family: 'playfair_displayitalic';
    padding: 110px 0 24px 0;
    font-size: 72px;
    line-height: 86px;
    color: #5a5552;
    margin: 0;
}

.contact-content {
    min-height: 760px;
}

.contact-content h1 {
    font-family: 'playfair_displayitalic';
    padding: 110px 0 38px 0;
    font-size: 72px;
    line-height: 86px;
    color: #5a5552;
    margin: 0;
}

.contact-content .left {
    float: left;
    width: 400px;
}

.contact-content .right {
    float: left;
    width: 580px;
}

.contact-content h2 {
    padding: 10px 0;
    font-size: 24px;
    font-weight: normal;
    line-height: 30px;
    color: #be4c54;
    margin: 0;
}

.contact-content p {
    font-size: 16px;
    line-height: 26px;
    color: #5a5552;
    margin: 0;
}

.contact-content a {
    color: #5a5552;
}

.contact-content a:hover {
    text-decoration: underline;
}

.youtube-content {
    padding-top: 30px;
}

.youtube-content .youtube-item {
    padding-bottom: 25px;
    width: 560px;
}

.youtube-content .youtube-item iframe {
    display: block;
    width: 560px;
}

.footer {
    padding-bottom: 45px;
}

.footer p {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    color: #93846e;
}

@media screen and (min-width: 981px) {
    #content-wrapper {
        min-width: 980px;
    }

    .main-content .info {
        right: 120px;
    }

    .main-content .audio-player-container .songs .song .icon {
        left: -20px;
    }
}

@media screen and (max-width: 980px)  and (min-width: 768px) {
    body {
        background: #ffffff url('../images/body_main_tablet_bg.jpg') no-repeat center top;
    }

    body #content {
        background: #ffffff url('../images/content_main_tablet_bg.jpg') no-repeat left top;
    }

    body.subpage {
        background: #ffffff url('../images/body_subpage_tablet_bg.jpg') no-repeat center top;
    }

    body.subpage #content {
        background: #ffffff url('../images/content_subpage_tablet_bg.jpg') no-repeat left top;
    }

    body.contact #content {
        background: none;
    }

    body.login {
        background: #ffffff url('../images/body_bg.png') no-repeat center top;
    }

    body.login #content {
        background: none;
    }

    #content-wrapper {
        min-width: 768px;
    }

    #content {
        padding: 0 20px;
        width: 728px;
    }

    #menu-container {
        right: 20px;
    }

    .login-top {
        margin: 101px 234px 27px 234px;
    }

    .main-content {
        padding-top: 305px;
        min-height: 475px;
    }

    .main-content .firstname {
        left: 175px;
    }

    .main-content .lastname {
        left: 275px;
    }

    .main-content .info {
        right: 110px;
    }

    .main-content .info .producer {
        position: absolute;
        display: block;
        top: 24px;
        right: -40px;
        width: 330px;
    }

    .main-content .audio-player-container {
        padding-left: 280px;
    }

    .main-content .audio-player-container .current {
        padding: 4px 0;
        font-size: 24px;
        line-height: 28px;
        min-height: 36px;
    }

    .main-content .audio-player-container .player {
        height: 83px;
    }

    .main-content .audio-player-container .player .control {
        padding: 31px 0 0 0;
    }

    .main-content .audio-player-container .player .progress-container {
        padding: 36px 9px 0 9px;
        width: 378px;
    }

    .main-content .audio-player-container .songs .song .icon {
        left: -20px;
    }

    .page-content {
        padding-left: 226px;
    }

    .contact-content {
        min-height: 660px;
    }

    .contact-content h1 {
        padding: 110px 0 9px 0;
    }

    .contact-content .left {
        width: 294px;
    }

    .contact-content .right {
        width: 434px;
    }

    .youtube-content .youtube-item {
        width: 502px;
    }

    .youtube-content .youtube-item iframe {
        width: 502px;
    }
}

@media screen and (max-width: 767px)  and (min-width: 480px) {
    body,
    body.subpage {
        background: #ffffff url('../images/body_mobile_bg.jpg') no-repeat center top;
    }

    body #content {
        background: #ffffff url('../images/content_mobile_bg.jpg') no-repeat left top;
    }

    body.contact #content {
        background: #ffffff url('../images/content_contact_mobile_bg.jpg') no-repeat left top;
    }

    body.login {
        background: #ffffff url('../images/body_bg.png') no-repeat center top;
    }

    #content-wrapper {
        min-width: 480px;
    }

    #menu-mobile {
        display: block;
    }

    #content {
        padding: 0 20px;
        width: 440px;
    }

    #menu-container {
        display: none;
    }

    #menu-mobile-show {
        display: block;
    }

    .login-top {
        margin: 101px 90px 27px 90px;
    }

    .main-content {
        padding-top: 305px;
        min-height: 0;
    }

    .main-content .firstname {
        left: 0;
    }

    .main-content .lastname {
        left: 100px;
    }

    .main-content .info {
        text-align: left;
        left: 25px;
    }

    .main-content .info .producer {
        position: absolute;
        display: block;
        top: 24px;
        left: 100px;
        width: 330px;
    }

    .main-content .audio-player-container {
        padding-left: 0;
    }

    .main-content .audio-player-container .current {
        padding: 4px 0;
        font-size: 24px;
        line-height: 28px;
        min-height: 36px;
    }

    .main-content .audio-player-container .player {
        height: 83px;
    }

    .main-content .audio-player-container .player .control {
        padding: 31px 0 0 0;
    }

    .main-content .audio-player-container .player .progress-container {
        padding: 36px 9px 0 9px;
        width: 372px;
    }

    .main-content .audio-player-container .songs .song .icon {
        right: -20px;
    }

    .page-content {
        padding: 0 0 30px 0;
    }

    .page-content h1 {
        padding: 72px 0 24px 0;
    }

    .contact-content {
        min-height: 840px;
    }

    .contact-content h1 {
        padding: 72px 0 9px 0;
    }

    .contact-content .left {
        padding-bottom: 35px;
        float: none;
        width: 440px;
    }

    .contact-content .right {
        float: none;
        width: 440px;
    }

    .youtube-content .youtube-item {
        padding-bottom: 20px;
        width: 440px;
    }

    .youtube-content .youtube-item iframe {
        width: 440px;
    }
}

@media screen and (max-width: 479px) {
    body,
    body.contact,
    body.login,
    body.subpage {
        background: #ffffff url('../images/body_mobile_small_bg.png') no-repeat center top;
    }

    body #content,
    body.contact #content,
    body.login #content,
    body.subpage #content {
        background: #ffffff url('../images/content_mobile_small_bg.jpg') no-repeat left top;
    }

    #content-wrapper {
        min-width: 320px;
    }


    #menu-mobile {
        display: block;
        right: -320px;
        z-index: 2;
        padding: 80px 30px 0 30px;
        width: 260px;
    }

    #menu-mobile .close {
        right: 30px;
    }

    #content {
        padding: 0 10px;
        width: 300px;
    }

    #menu-container {
        display: none;
    }

    #menu-mobile-show {
        display: block;
    }

    .login-top {
        margin: 101px 20px 27px 20px;
    }

    #login-form {
        width: 300px;
    }

    #login-form .form-group input {
        width: 252px;
    }

    .main-content {
        padding-top: 280px;
        min-height: 0;
    }

    .main-content .firstname {
        line-height: 100px;
        font-size: 90px;
        left: 0;
    }

    .main-content .lastname {
        line-height: 94px;
        font-size: 86px;
        left: 50px;
        top: 105px;
    }

    .main-content .info {
        text-align: left;
        font-size: 24px;
        top: 200px;
        left: 0;
        width: 300px;
    }

    .main-content .info .producer {
        text-align: right;
        position: absolute;
        display: block;
        top: 24px;
        right: 10px;
        width: 300px;
    }

    .main-content .audio-player-container {
        padding-left: 0;
    }

    .main-content .audio-player-container .current {
        padding: 4px 0;
        font-size: 24px;
        line-height: 28px;
        min-height: 36px;
    }

    .main-content .audio-player-container .player {
        height: 83px;
    }

    .main-content .audio-player-container .player .control {
        padding: 31px 0 0 0;
    }

    .main-content .audio-player-container .player .progress-container {
        padding: 36px 9px 0 9px;
        width: 232px;
    }

    .main-content .audio-player-container .send-form-container .send-form-bottom {
        padding: 0;
    }

    .main-content .audio-player-container .send-form-container .send-form-bottom .form-field {
        position: relative;
    }

    .main-content .audio-player-container .send-form-container .send-form-bottom .form-field input {
        width: 140px;
    }

    .main-content .audio-player-container .send-form-container .send-form-bottom .form-field img {
        position: absolute;
        right: 35px;
        top: 40px;
    }

    .main-content .audio-player-container .songs .song .icon {
        right: -20px;
    }

    .page-content {
        padding: 0 0 30px 0;
    }

    .page-content h1 {
        padding: 72px 0 24px 0;
    }

    .contact-content {
        min-height: 840px;
    }

    .contact-content h1 {
        padding: 72px 0 9px 0;
    }

    .contact-content .left {
        padding-bottom: 35px;
        float: none;
        width: 300px;
    }

    .contact-content .right {
        float: none;
        width: 300px;
    }

    .youtube-content .youtube-item {
        padding-bottom: 20px;
        width: 300px;
    }

    .youtube-content .youtube-item iframe {
        width: 300px;
    }
}
