{% extends '::backend.html.twig' %}

{% block body %}
    {% include 'LsCoreBundle:Backend:_errors.html.twig' %}

    <div class="row">
        <div class="col-sm-8">{{ wo_render_breadcrumbs() }}</div>
        <div class="col-sm-4 text-right" style="margin-bottom: 20px;">
            <a href="{{ path('ls_admin_audio_player') }}" class="btn btn-default">
                <i class="glyphicon glyphicon-list"></i>
                Powrót do listy
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h1>Potwierdź wykonanie akcji</h1>

            <p>{{ message }}</p>

            <div class="well well-sm">
                <form class="form-inline" action="{{ path('ls_admin_audio_player_batch_execute') }}" method="post">
                    <input type="hidden" name="action" value="{{ action }}" />
                    <input type="hidden" name="ids" value="{{ ids }}" />
                    <button type="submit" class="btn btn-danger">Tak, wykonaj</button>
                    <a href="{{ path('ls_admin_audio_player') }}" class="btn btn-success">Nie, wróć do listy</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}