{% extends '::backend.html.twig' %}

{% block body %}
    {% include 'LsCoreBundle:Backend:_errors.html.twig' %}

    <div class="row">
        <div class="col-sm-8">{{ wo_render_breadcrumbs() }}</div>
        <div class="col-sm-4 text-right" style="margin-bottom: 20px;">
            <a href="{{ path('ls_admin_audio_player') }}" class="btn btn-default">
                <i class="glyphicon glyphicon-list"></i>
                Powrót do listy
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {% if entities|length > 0 %}
                <div class="panel panel-default table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Data pobrania</th>
                            <th>Adres e-mail</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td class="text">{{ entity.createdat|localizeddate('long', 'short') }}</td>
                                <td class="text">{{ entity.email }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        {% if entities.getPageCount > 1 %}
                            <tr>
                                <td class="pagination-container" colspan="5">
                                    {{ knp_pagination_render(entities) }}
                                </td>
                            </tr>
                        {% endif %}
                        </tfoot>
                    </table>
                </div>
            {% else %}
                <h4 class="text-center">Brak elementów w bazie</h4>
            {% endif %}
        </div>
    </div>
{% endblock %}
