{% extends '::backend.html.twig' %}
{% form_theme form with 'LsCoreBundle:Backend:fields.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#fileupload').fileupload({
                dataType: 'json',
                maxChunkSize: 5000000,
                maxNumberOfFiles: 1,
                add: function (e, data) {
                    var fileType = data.files[0].name.split('.').pop().toLowerCase(), allowdtypes = 'mp3';
                    if (allowdtypes.indexOf(fileType) < 0) {
                        alert('Plik musi być formatu mp3');
                        return false;
                    }
                    var that = this;
                    $.getJSON('{{ asset('bundles/lscore/js/fileupload/server/php/index.php') }}', {file: data.files[0].name}, function (file) {
                        data.uploadedBytes = file && file.size;
                        $.blueimp.fileupload.prototype.options.add.call(that, e, data);
                    });
                },
                start: function (e, data) {
                    filename = '';
                    $('.progress-container').show();
                },
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('.progress-bar').css('width', progress + '%');
                    $('.progress-bar').attr('aria-valuenow', progress);
                    $('.progress-bar').html(progress + '%');
                },
                fail: function (e, data) {
                    $('.progress-container').hide();
                    alert('Wystąpił bład podczas uploadu pliku')
                },
                done: function (e, data) {
                    $('.progress-container').hide();
                    $('.progress-bar').css('width', '0%');
                    $('.progress-bar').attr('aria-valuenow', '0');
                    $('.progress-bar').html('0%');

                    $.each(data.result.files, function (index, file) {
                        filename = file.name;
                    });
                    $.ajax({
                        type: 'post',
                        url: '{{ path('ls_temp_file_upload') }}',
                        data: {
                            'filename': filename
                        },
                        success: function (response) {
                            $('#filename').val(filename);
                            $('#form_admin_audio_file_file').val(response);
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}

{% block body %}
    {% include 'LsCoreBundle:Backend:_errors.html.twig' %}

    <div class="row">
        <div class="col-sm-8">{{ wo_render_breadcrumbs() }}</div>
        <div class="col-sm-4 text-right" style="margin-bottom: 20px;">
            <a href="{{ path('ls_admin_audio_player') }}" class="btn btn-default">
                <i class="glyphicon glyphicon-list"></i>
                Powrót do listy
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-warning" role="alert">Do dodawania plików używać przeglądarek Mozilla Firefox lub Google Chrome, gyż pozostałe niepoprawnie obsługują upload dużych plików.</div>
            {% include 'LsAudioPlayerBundle:Admin:_form.html.twig' with { 'form': form, 'form_edit': true } %}
        </div>
    </div>
{% endblock %}