{% import "LsCoreBundle:Backend:_form_translations_macros.html.twig" as formTranslations %}

{{ formTranslations.partialTranslations(form.translations, 'title', '') }}
<div class="form-group" id="row_type">
    {{ form_label(form.type, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
    <div class="col-sm-9">
        <div class="form-field">
            {{ form_widget(form.type, {'attr': {'class': 'form-control' }}) }}
        </div>
    </div>
</div>
<div class="form-group{% if form.url.vars.errors|length %} has-error has-feedback{% endif %}" id="row_url">
    {{ form_label(form.url, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
    <div class="col-sm-9">
        <div class="form-field">
            {{ form_widget(form.url, {'attr': {'class': 'form-control' }}) }}
            {% if form.url.vars.errors|length %}
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                <div class="error-tooltip">
                    <div class="text">
                        <ul>
                            {% for error in form.url.vars.errors %}
                                <li>{{ error.message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="arrow">
                        <div class="inner"></div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="form-group{% if form.route.vars.errors|length %} has-error has-feedback{% endif %}" id="row_route">
    {{ form_label(form.route, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
    <div class="col-sm-9">
        <div class="form-field">
            {{ form_widget(form.route, {'attr': {'class': 'form-control' }}) }}
            {% if form.route.vars.errors|length %}
                <div class="error-tooltip">
                    <div class="text">
                        <ul>
                            {% for error in form.route.vars.errors %}
                                <li>{{ error.message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="arrow">
                        <div class="inner"></div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="form-group" id="row_object_choice">
    <label class="col-sm-3 control-label" for="form_admin_menuitem_object_choice">Wybierz</label>

    <div class="col-sm-9">
        <div class="form-field">
            <select class="form-control" id="form_admin_menuitem_object_choice">
                <option value="">-- Wybierz --</option>
            </select>
        </div>
    </div>
</div>
<div class="form-group{% if form.onclick.vars.errors|length %} has-error has-feedback{% endif %}" id="row_onclick">
    {{ form_label(form.onclick, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
    <div class="col-sm-9">
        <div class="form-field">
            {{ form_widget(form.onclick, {'attr': {'class': 'form-control' }}) }}
            {% if form.onclick.vars.errors|length %}
                <div class="error-tooltip">
                    <div class="text">
                        <ul>
                            {% for error in form.onclick.vars.errors %}
                                <li>{{ error.message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="arrow">
                        <div class="inner"></div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
        {{ formTranslations.partialTranslationsHidden(form.translations, 'locale') }}
        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary' }}) }}
        {% if form_edit %}
            <a href="#" class="btn btn-danger btn-delete" data-href="{{ path('ls_admin_menu_delete', {'id': entity.id}) }}" data-toggle="modal" data-target="#confirm-delete">Usuń</a>
        {% endif %}
    </div>
</div>
