.editor {
}

.page-content p,
.editor p {
    font-family: 'Georgia', 'Times New Roman', serif;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    color: #252322;
}

.page-content p.red,
.editor p.red {
    color: #be4c54;
}
