body {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    background: url('../images/top.png') center top no-repeat;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 533px;
    text-align: center;
}

h1 {
    font-size: 48px;
    font-weight: 400;
    margin: 0 auto;
    margin-top: 275px;
    width: 400px;
}

h1 span {
    font-weight: bold;
    color: #be4c54;
}

.contact {
    font-weight: bold;
    margin: 0 auto;
    margin-top: 56px;
    width: 400px;
}

.logos {
    margin: 0 auto;
    margin-top: 10px;
    width: 344px;
    display: block;
    margin-top: 47px;
}


@media screen and (max-width: 570px) {
    .container {
        width: 300px;
    }
    
    h1 {
        font-size: 36px;
        font-weight: 400;
        margin: 0 auto;
        margin-top: 200px;
        width: 300px;
    }
    
    .contact {
        margin-top: 50px;
        width: 300px;
    }
    
    .logos {
        margin-top: 10px;
        width: 300px;
        margin-top: 47px;
    }
}