{% extends '::frontend.html.twig' %}

{% block title %}Kontakt - {{ parent() }}{% endblock %}

{% block content %}
    <div class="contact-content">
        <h1>{{ 'header.contact'|trans }}</h1>
        <div class="left">
            <img src="{{ asset('bundles/lscore/images/kindla-music.png') }}" alt="" />
            <h2>{{ cms_config.get('contact_kindla_firm', '') }}</h2>
            <p>{{ cms_config.get('contact_kindla_name', '') }}</p>
            <p>{{ cms_config.get('contact_kindla_email', '') }}</p>
        </div>
        <div class="right">
            <img src="{{ asset('bundles/lscore/images/universal-music.png') }}" alt="" />
            <h2>{{ cms_config.get('contact_universal_firm', '') }}</h2>
            <p>{{ cms_config.get('contact_universal_address', '')|nl2br }}</p>
            <p>&nbsp;</p>
            <p>{{ 'label.telefon'|trans }}: {{ cms_config.get('contact_universal_phone', '') }}</p>
            <p>{{ 'label.fax'|trans }}: {{ cms_config.get('contact_universal_fax', '') }}</p>
            <p>{{ 'label.email'|trans }}: {{ cms_config.get('contact_universal_email_title', '') }}</p>
            <p>{{ cms_config.get('contact_universal_email', '') }}</p>
            <p>{{ 'label.page'|trans }}: <a href="http://{{ cms_config.get('contact_universal_page', '') }}" target="_blank">{{ cms_config.get('contact_universal_page', '') }}</a></p>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}
