{% extends '::frontend.html.twig' %}

{% block title %}{{ entity.getTranslation(app.request.locale).seotitle }} - {{ parent() }}{% endblock %}
{% block description %}{{ entity.getTranslation(app.request.locale).seodescription }}{% endblock %}
{% block keywords %}{{ entity.getTranslation(app.request.locale).seokeywords }}{% endblock %}

{% block content %}
    <div class="page-content">
        <h1>{{ entity.getTranslation(app.request.locale).title }}</h1>
        {{ entity.getTranslation(app.request.locale).content|raw }}
        {% if entity.gallery %}
            {% include "LsGalleryBundle:Front:gallery.html.twig" with { movies: entity.gallery.movies } %}
        {% endif %}
    </div>
{% endblock %}
