{% import "LsCoreBundle:Backend:_form_translations_macros.html.twig" as formTranslations %}

{{ form_start(form, {'attr': {'id': form.vars.name, 'class': 'form-horizontal', 'novalidate': 'novalidate' }}) }}
<ul class="nav nav-tabs pills">
    <li class="active">
        <a data-toggle="tab" href="#tab-ustawienia">Treść</a>
    </li>
    <li>
        <a data-toggle="tab" href="#tab-seo">SEO</a>
    </li>
</ul>

<div class="tab-content" style="margin-top: 15px;">
    <div id="tab-ustawienia" class="tab-pane active">
        {{ formTranslations.partialTranslations(form.translations, 'title', '') }}
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <div class="form-field">
                    {{ form_widget(form.content_short_generate) }}
                </div>
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.gallery, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
            <div class="col-sm-9">
                {{ form_widget(form.gallery, {'attr': {'class': 'form-control' }}) }}
            </div>
        </div>
        {{ formTranslations.partialTranslations(form.translations, 'content_short', '') }}
        {{ formTranslations.partialTranslations(form.translations, 'content', '') }}
    </div>
    <div id="tab-seo" class="tab-pane">
        {% if form_edit %}
            {{ formTranslations.partialTranslations(form.translations, 'slug', 'Element linku URL identyfikujący podstronę np. http://www.test.pl/<b>podstrona</b>') }}
        {% else %}
            {{ formTranslations.partialTranslationsRendered(form.translations, 'slug') }}
        {% endif %}
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <div class="form-field">
                    {{ form_widget(form.seo_generate) }}
                </div>
            </div>
        </div>
        {{ formTranslations.partialTranslations(form.translations, 'seo_title', '') }}
        {{ formTranslations.partialTranslations(form.translations, 'seo_keywords', '') }}
        {{ formTranslations.partialTranslations(form.translations, 'seo_description', '') }}
        {{ formTranslations.partialTranslationsHidden(form.translations, 'locale') }}
    </div>
</div>
<div style="border-top: 1px solid #ddd; margin-bottom: 15px;"></div>
<div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary' }}) }}
        {{ form_widget(form.submit_and_list, {'attr': {'class': 'btn btn-default' }}) }}
        {% if not form_edit %}
            {{ form_widget(form.submit_and_new, {'attr': {'class': 'btn btn-default' }}) }}
        {% endif %}
    </div>
</div>
{{ form_end(form) }}
